body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome-text-img {
  width: 500px;
  text-align: center;
  margin: 250px;
}
.main-h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: rgb(86, 14, 168);
}
.cake-image {
  width: 500px;
  text-align: center;
  margin: 250px;
}
.donat-image {
  width: 500px;
  text-align: center;
  margin: 250px;
}
