body {
  background-color: burlywood;
}

.welcome-text-img {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.items {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  border: solid;
}
.images {
  margin: auto;
  width: 80%;

  padding: 10px;
}
